.form-preview {
  $width: calc(100vw - 400px);
  $margin: 16px;
  $headerHeight: 50px;

  font-size: calc(#{$width} / 48);
  padding-right: $margin;
  padding-left: $margin;
  width: $width;
  height: calc(100vh - #{$margin} - #{$headerHeight});
  overflow-y: auto;

  @media print {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: calc(100vw / 48);
    img,
    tr {
      page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-inside: avoid; /* or 'auto' */
    }
  }

  &__paper {
    width: 100%;
    // height: calc(((100vw - 400px) / 210) * 297);
    height: auto;
    background-color: #fff;
    padding: 2em 2.3em;
  }

  &__title {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  }

  &__top-table {
    margin-bottom: 1em;
  }

  &__main-table {
    @mixin border {
      border: solid 0.02em #000;
      border-collapse: collapse;
    }

    @include border();
    tr,
    td {
      @include border();
    }

    tr > td:first-child {
      padding: 1em;
      text-align: center;
      vertical-align: top;
    }
    tr > td:nth-child(2) {
      padding: 1em;
      text-align: left;
      vertical-align: top;
    }

    tr > td:nth-child(3) {
      padding: 1em;
      text-align: left;
      vertical-align: top;
      width: 30em;
    }

    tr > td:nth-child(4) {
      padding: 1em;
      text-align: left;
      vertical-align: top;
      width: 240em;
    }

    $fcost: '.field-value-cost';
    ::v-deep(.field-value-cost) {
      width: 100%;
      @include border();

      th,
      tr,
      td {
        @include border();
      }

      td {
        padding: 0 0.4em;
      }

      th {
        text-align: center;
      }

      #{$fcost}__money {
        text-align: right;
      }
    }
  }

  &__attachment {
    margin-top: 1em;
    padding-top: 1em;
  }

  &__footer {
    margin-top: 3em;
  }

  &__approver {
    display: inline-block;
    width: 40%;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 20%;
  }

  &__requester {
    display: inline-block;
    width: 40%;
    padding-left: 2em;
    vertical-align: top;
  }

  &__approver-note {
    width: 100%;
    margin-top: 3em;

    &-box {
      width: 100%;
      height: 8em;
      border: solid 1px #000;
    }
  }
}

@mixin signature {
  height: 6em;
  object-fit: contain;
}

.approver {
  &__sign {
    width: 100%;
    margin-top: 4em;
    border-bottom: solid 1px #000;
  }

  &__signature {
    width: 100%;
    @include signature();
  }

  &__name {
    width: 100%;
    margin-top: 0.2em;
    font-size: 1em;
    word-wrap: break-word;
    text-align: center;
    text-decoration: underline;
  }
}

.requester {
  &__sign {
    width: 80%;
    margin-top: 4em;
    border-bottom: solid 1px #000;
  }

  &__signature {
    width: calc(100% - 2em);
    @include signature();
  }

  &__name {
    width: calc(100% - 2em);
    margin-top: 0.2em;
    font-size: 1em;
    word-wrap: break-word;
    text-align: center;
    text-decoration: underline;
  }
}

.header {
  border-bottom: solid 5px #000;

  &__logo {
    display: inline-block;
    width: 6em;
    vertical-align: middle;
  }

  &__title {
    display: inline-block;
    width: calc(100% - 6em);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: middle;
  }
}

.attachments {
  &__files {
    display: flex;
    flex-wrap: wrap;

    a {
      width: 6em;
      height: 6em;
      margin: 0.5em;
      border: solid 1px;
    }

    ::v-deep(.pi-file:before) {
      content: '\e958';
      vertical-align: middle;
      width: 6em;
    }
  }
  &__image {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__doc {
    vertical-align: middle;
    font-size: 5em;
  }
}
