.list-form {
  max-width: 768px;
  margin: auto;
  cursor: pointer;

  &__pkt-dropdown {
    margin-right: 10px;
    width: 230px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__add {
    font-size: 0.875rem;
    padding: 0.62475rem 0.875rem;
  }

  &__link {
    text-decoration: none;
  }
}

.unit-list {
  position: relative;

  &:hover {
    background-color: #ddd;
    transition: background-color 0.4s;
  }

  ::v-deep(.p-card-content) {
    padding: 0;
  }

  &__number {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: middle;
  }
  &__name {
    font-size: 18px;
    font-weight: bold;
  }
  &__created {
    margin-top: 3px;
    font-size: 14px;

    ::v-deep(.pi) {
      font-size: 12px;
    }
  }
  &__creator {
    margin-top: 10px;
    font-size: 14px;

    ::v-deep(.pi) {
      font-size: 12px;
    }
  }
  &__icon-right {
    position: absolute;
    right: 10px;
    top: 45%;
  }
}
