.list-form {
  max-width: 768px;
  margin: auto;
  cursor: pointer;
}

.unit-list {
  position: relative;

  &:hover {
    background-color: #ddd;
    transition: background-color 0.4s;
  }

  ::v-deep {
    .p-card-content {
      padding: 0;
    }
  }

  &__number {
    font-size: 20px;
    font-weight: bold;
  }
  &__name {
    font-size: 18px;
    font-weight: bold;
  }
  &__created {
    margin-top: 10px;
    font-size: 14px;
  }
  &__icon-right {
    position: absolute;
    right: 10px;
    top: 45%;
  }
}
