.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: 50px;
  background-color: #3f51b5;

  &__toggle-sidebar {
    margin-top: 16px;
    margin-left: 16px;
    color: #fff;
    cursor: pointer;
  }
}
