.form-proposal {
  overflow-y: auto;

  &__field {
    padding-bottom: 1rem;
    border-bottom: solid 1px #d6d6d6;
  }

  &__field-name {
    font-size: 18px;
    font-weight: 600;

    &-child {
      display: block;
      font-size: 16px;
      margin-bottom: 0.5rem;
    }
  }

  &__field-input-child {
    margin-bottom: 0.5rem;
    height: 30px;
  }

  &__submit.p-button {
    justify-content: center;
    width: 100%;
  }

  &__footer {
    margin-top: 20px;
  }
}
