.form-proposal {
  overflow-y: auto;

  &__status {
    vertical-align: bottom;
  }

  &__field {
    padding-bottom: 1rem;
    border-bottom: solid 1px #d6d6d6;
  }

  &__field-name {
    font-size: 18px;
    font-weight: 600;

    &-child {
      display: block;
      font-size: 16px;
      margin-bottom: 0.5rem;
    }
  }

  &__field-input-child {
    margin-bottom: 0.5rem;
    height: 30px;
  }

  &__submit.p-button {
    justify-content: center;
    width: 100%;
  }

  &__footer {
    margin-top: 20px;
  }

  ::v-deep(.p-fileupload-buttonbar) {
    text-align: center;

    & > span,
    button {
      margin-top: 5px;
      padding: 8px;
    }
  }

  ::v-deep(.p-fileupload) {
    .p-fileupload-row > div {
      padding: 5px;

      &:nth-child(3) {
        display: none;
      }

      &:nth-child(2) {
        width: 50%;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
